#forecast{background-color:PaleGoldenRod ; width: auto; max-width: 500px;}
body{background-color:MintCream ;font-family: sans-serif,"Arial", "Verdana"; font-size: 20px;}
.content{background-color: azure; width: auto; max-width: 500px;}